{
    "sample1": {
        "service": "service name to use the api. ex mastodon",
        "scheme": "https",
        "domain": "sample1.com",
        "client_id": "YourClientKey1",
        "client_secret": "YourClientSecret1",
        "access_token": "YourAccessToken1"
    },
    "sample2": {
        "service": "service name to use the api. ex qiita",
        "scheme": "https",
        "domain": "sample2.com",
        "client_id": "YourClientKey2",
        "client_secret": "YourClientSecret2",
        "access_token": "YourAccessToken2"
    }
}